/* Home.css */

/* Container for the home page */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #f5f7fa, #3a7fee);
    text-align: center;
    padding: 20px;
  }
  .card:hover {
    transform: scale(1.05); /* Enlarge the card */
    
    /* Add green border */
    box-shadow:
    0px 0px 10px rgba(61, 241, 6, 0.5), /* Blue shadow */
    0px 0px 15px rgba(98, 240, 128, 0.5), /* Green shadow */
    0px 0px 20px rgba(133, 248, 181, 0.5), /* Dark Blue shadow */
    0px 0px 25px rgba(141, 195, 245, 0.5); /* Enhanced shadow with multiple colors */
  }
  
  /* Move heading a little bit up on hover */
  .card:hover h2 {
    transform: translateY(-5px); /* Move heading up */
  }
  /* Title styling */
  .home-title {
    font-size: 2.5rem;
    color: #353434;
    margin-bottom: 20px;
  }
  
  /* Container for cards */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  
    margin-bottom: 100px;




  }
  
  /* Styling for each card */
  .card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 250px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  }
  
  /* Hover effect for cards */
  
  
  /* Title and paragraph styling */
  .card h2 {
    margin-top: 0;
  }
  
  .card p {
    font-size: 17px;
    color: #464444;
    font-weight: bolder;
  }
  
  /* Styling for link buttons */
  .link-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  /* Hover effect for link buttons */
  .link-button:hover {
    background-color: #0056b3;
  }
  
  /* Footer styling */
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
  }
  