/* InterviewsList.css */
.interviews-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: #b5bae6;
  height: 100vh;

}
/* Add styling for the delete button */
.delete-button {
  display: inline-block;
  margin-top: 20px;
  padding: 5px 5px;
  font-size: 1rem;
  color: #fff;
  background-color: #031141; /* Red background */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 100px;

}

.delete-button:hover {
  background-color: #e60000; /* Darker red */
  transform: scale(1.05); /* Slightly enlarge on hover */
}


.interview-box {
  background: #e9e6e6;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 300px;
  height: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  background: linear-gradient(to bottom, rgba(140, 94, 247, 0.5), rgba(209, 209, 241, 0.5));
}

.interview-box:hover {
  transform: scale(1.05);
  box-shadow:
    0px 0px 10px rgba(3, 229, 245, 0.5), /* Blue shadow */
    0px 0px 15px rgba(151, 212, 231, 0.5), /* Green shadow */
    0px 0px 20px rgba(105, 188, 243, 0.5), /* Dark Blue shadow */
    0px 0px 25px rgba(3, 88, 245, 0.5);
}

.interview-box h3 {
  margin: 0;
  font-size: 3rem;
  color: #0c0c0c;
  text-transform: capitalize;
  margin-top: 10px;
 
}

.interview-box p {
  margin: 5px 0;
  font-size: 1.5rem;
  color: #2b2a2a;
  margin-top: 20px;
}

.students-list {
  margin-top: 20px;
}

.students-list h4 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.students-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.students-list li {
  margin-top: 10px;
  font-size: 1.3rem;
  color: #1a1919;
  text-transform: capitalize;
  font-weight: bold;
}
